<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="kapsel-plugin-appupdate"
    version="4.0.0">

	<name>AppUpdate</name>

    <description>Remotely update contents in the www folder and the config.xml of a deployed Hybrid SDK (Kapsel) application. / Doc URL: https://uacp2.hana.ondemand.com/doc/d9c75eebcfa840c8a4aa4b0e6a8136de/3.0.14/en-US/7c1ceccf70061014b245f156bb1cdd19.html</description>
    
    <author>SAP SE</author>
    
    <license>SAP Mobile Platform SDK "License Agreement"</license>

    <engines>
      <engine name="cordova" version="&gt;=8.0.0" />
      <engine name="cordova-android" version="&gt;=7.0.0" />
      <engine name="cordova-ios" version="&gt;=4.5.0" />
    </engines>

	<dependency id="kapsel-plugin-corelibs"/>
    <dependency id="kapsel-plugin-inappbrowser"/>
	<dependency id="kapsel-plugin-authproxy"/>
	<dependency id="kapsel-plugin-logon"/>
	<dependency id="kapsel-plugin-i18n"/>
	<dependency id="cordova-plugin-dialogs"/>

	<js-module name="AppUpdate" src="www/appupdate.js">
		<clobbers target="sap.AppUpdate"/>
	</js-module>

	<asset target="plugins/kapsel-plugin-appupdate/www/messages_cs.properties" src="www/messages_cs.properties"/>
	<asset target="plugins/kapsel-plugin-appupdate/www/messages_it.properties" src="www/messages_it.properties"/>
	<asset target="plugins/kapsel-plugin-appupdate/www/messages_nb.properties" src="www/messages_nb.properties"/>
	<asset target="plugins/kapsel-plugin-appupdate/www/messages_en.properties" src="www/messages_en.properties"/>
	<asset target="plugins/kapsel-plugin-appupdate/www/messages_ar.properties" src="www/messages_ar.properties"/>
	<asset target="plugins/kapsel-plugin-appupdate/www/messages_de.properties" src="www/messages_de.properties"/>
	<asset target="plugins/kapsel-plugin-appupdate/www/messages_es.properties" src="www/messages_es.properties"/>
	<asset target="plugins/kapsel-plugin-appupdate/www/messages_fr.properties" src="www/messages_fr.properties"/>
	<asset target="plugins/kapsel-plugin-appupdate/www/messages_ja.properties" src="www/messages_ja.properties"/>
	<asset target="plugins/kapsel-plugin-appupdate/www/messages_pt.properties" src="www/messages_pt.properties"/>
	<asset target="plugins/kapsel-plugin-appupdate/www/messages_ru.properties" src="www/messages_ru.properties"/>
	<asset target="plugins/kapsel-plugin-appupdate/www/messages_zh_CN.properties" src="www/messages_zh_CN.properties"/>
	<asset target="plugins/kapsel-plugin-appupdate/www/messages_hu.properties" src="www/messages_hu.properties"/>
	<asset target="plugins/kapsel-plugin-appupdate/www/messages_pl.properties" src="www/messages_pl.properties"/>

	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/widget">
			<feature name="AppUpdate">
				<param name="android-package" value="com.sap.mp.cordova.plugins.appUpdate.AppUpdate"/>
				<param name="onload" value="true"/>
			</feature>
		</config-file>
		<lib-file src="android/libs/appupdate-plugin-4.0.0.aar"/>
        <framework src="android/smp_appupdate.gradle" custom="true" type="gradleReference" />
	</platform>
	<platform name="ios">
		<config-file target="config.xml" parent="/widget">
			<feature name="AppUpdate">
				<param name="ios-package" value="SMPAppUpdatePlugin"/>
				<param name="onload" value="true"/>
			</feature>
		</config-file>
		<source-file framework="true" src="ios/libs/libSMPAppUpdatePlugin.a"/>
	</platform>
</plugin>
